@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
input{
    font-family:monospace;
    color: orangered;
    width: 150;
    line-height:60px;
    text-align: right;
    border-radius: 8px;
    border: 1px dotted darkred;
    outline: none;
    font-size: 2.5rem;
}
label{
    font-family: monospace;
    display: block;
    font-size: 1.25rem;
    margin-top:10px;
}
